.inputPassword {
  display: flex;
  position: relative;
}

.inputPassword > input {
  width: 100%;
  height: 3rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--inputNavbar);
  color: var(--letterColorWhite);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputPassword > input:hover {
  opacity: 0.7;
}

.inputPassword > span {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  color: var(--letterColorWhite);
}

.inputPassword > span > .icon {
  width: 1.3rem;
  cursor: pointer;
}

.inputPassword > span > .icon:hover {
  opacity: 0.8;
}
