.addPost {
  width: 30rem;
  border-radius: 2px;
  transition: 0.1s;
  margin: auto;
  margin-top: 10rem;
  color: var(--letterColorWhite);
  background-color: var(--backgroundAddPost);
  padding: 0.6rem;
}

.addPost > section {
  color: var(--letterColorWhite);
  display: grid;
  place-content: center;
}

.addPost > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.addPost > header > .icon {
  width: 1.4rem;
}

.addPost > header > button {
  color: var(--letterColorWhite);
  background-color: var(--backgroundAddPost);
}

.addPost > header > button:disabled {
  cursor: not-allowed;
}

.addPost > textarea {
  width: 100%;
  height: 8rem;
  background-color: var(--addPost);
  padding: 1.2rem;
  font-size: 0.9rem;
  color: var(--white);
}

.addPost > img {
  min-width: 85%;
  max-width: 95%;
  max-height: 28rem;
  border-radius: 0.3rem;
  margin-left: 0.8rem;
}

.add {
  width: 100%;
  padding: 1.4rem 1.8rem;
  display: flex;
}

.add > .icon {
  width: 1.6rem;
}

.add > label {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  align-items: center;
  cursor: pointer;
}

.add > label > .icon {
  width: 1.6rem;
}
