.header {
  width: 100%;
  height: 5rem;
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: var(--backgroundNavbar);
  color: var(--letterColorWhite);
}

.header > nav {
  width: 80%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.inputSearch {
  display: none;
}

.inputSearch > input {
  padding: 0.8rem;
  border-radius: 0.125rem;
  background-color: var(--inputNavbar);
  color: var(--letterColorWhite);
  font-size: 0.8rem;
}

.inputSearch > div {
  padding: 0.6rem;
  border-radius: 0.125rem;
  cursor: pointer;
  background-color: var(--inputNavbar);
}

.nav {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.nav > a > .icon {
  margin-top: 0.4rem;
}

.nav > div > a {
  padding: 0rem 0.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 0.1rem;
}

.nav > div > a:hover {
  background-color: var(--hoverAvatarNavbar);
}

.nav > div > a > img {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 100%;
  object-fit: contain;
}

@media (min-width: 800px) {
  .inputSearch {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .inputSearch > input {
    width: 15rem;
  }
}

@media (min-width: 1000px) {
  .inputSearch > input {
    width: 25rem;
  }
}
