.areYouSureToDiscardThePost {
  width: 18rem;
  height: 18rem;
  background-color: var(--backgroundAddPost);
  margin: auto;
  margin-top: 16rem;
  border-radius: 3px;
  padding: 2rem;
  color: var(--letterColorWhite);
  text-align: center;
}

.areYouSureToDiscardThePost > div {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 5rem;
}

.areYouSureToDiscardThePost > div > button {
  width: 6rem;
  height: 2rem;
}

.areYouSureToDiscardThePost > div > button:hover {
  opacity: 0.9;
}

.discard {
  background-color: var(--redLight);
  color: var(--letterColorWhite);
}
