@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: "Nunito", sans-serif;
  --purple: #51279a;
  --letterColorBlack: var(--backgroundCreatePost);
  --input-background-navbar: rgb(61, 61, 61);
  --auth: rgb(35, 35, 35);
  --backgroundAuth: #18191a;
  --navbar-background: #18191a;
  --a-hover-background-navbar: rgb(62, 62, 62);
  --blueLight: rgb(9, 123, 161);
  --createPost-background: var(--backgroundAuth);
  --redLight: rgb(210, 35, 35);
  --border-color-post: rgb(239, 239, 239);
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--letterColorWhite);
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
