@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: "Nunito", sans-serif;
  --navbar: rgb(27, 27, 27);
  --white: rgb(225, 225, 225);
  --input: rgb(61, 61, 61);
  --addPost: var(--navbar);
}
