@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: "Nunito", sans-serif;
  --purple: #51279a;
  --backgroundApp: #000000;
  --letterColorWhite: rgb(242, 242, 242);
  --letterColorBlack: var(--backgroundAddPost);
  --inputNavbar: rgb(61, 61, 61);
  --auth: rgb(35, 35, 35);
  --backgroundAuth: #18191a;
  --backgroundNavbar: #18191a;
  --hoverAvatarNavbar: rgb(79, 79, 79);
  --blueLight: rgb(9, 123, 161);
  --backgroundAddPost: var(--backgroundAuth);
  --redLight: red;
  --borderPost: rgb(239, 239, 239);
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--letterColorWhite);
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
